.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
}

.tweetBox__input{
    padding: 20px;
    display: flex;
}
.tweetBox__input > input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetBox__tweetButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-left: auto !important;
}
.tweetBox__inputImage {
    border: none;
    padding: 10px;
}
.tweetBox__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 80px;
    color: var(--twitter-color);
    font-size: 40px !important;
}

.tweetBox__tweetButton:hover {
    /* Include the hover effect */
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100 ms ease-out;
}
